
:root{
    --main-black: rgb(6, 6, 6);
    --second-black: rgb(12, 12, 12);
    --main-gold: rgb(226, 210, 113);
}

* {
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family:'Raleway',sans-serif;
}

.no-scroll{
    overflow:hidden !important;
}

.transparentScroll{
    overflow:overlay;
}

.loader{
    background-color:var(--main-black); 
    height:100%; 
    width:100%; 
    z-index:1;
    overflow: hidden;
}


.logo-wrapper{
    height:100%;
    position:relative;
}

.loader-logoPart1{
    background-image: url("../images/logo/Part1.png");
    height:100%;
    width:100%;
    background-size: contain;
    position:absolute;
    background-repeat:no-repeat;
    background-position:center center;
}

.loader-logoPart2{
    background-image: url("../images/logo/Part2.png");
    height:100%;
    width:100%;
    background-size: contain;
    position:absolute;
    background-repeat:no-repeat;
    background-position:center center;

}

.loader-logoPart3{
    background-image: url("../images/logo/Part3.png");
    height:100%;
    width:100%;
    background-size: contain;
    position:absolute;
    background-repeat:no-repeat;
    background-position:center center;
}

.loader-logoPart4{
    background-image: url("../images/logo/Part4.png");
    height:100%;
    width:100%;
    background-size: contain;
    position:absolute;
    background-repeat:no-repeat;
    background-position:center center;
}
/* Animations start */

.loaderAnim{
    position:relative;
    animation: slideInLeft 0.75s 1.25s;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}

@keyframes slideInLeft {
from{left:0;opacity:1;} 
to{left:-100%;opacity:1;}
}

.loaderLogoAnimPart1{
    -webkit-animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, slide-and-fade 0.2s 1s;
    animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, slide-and-fade 0.2s 1s;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.loaderLogoAnimPart2{
    -webkit-animation:slide-left 0.25s 0.3s ease-in-out both, slide-and-fade 0.2s 1s;
    animation:slide-left 0.25s 0.3s ease-in-out both, slide-and-fade 0.2s 1s;
    opacity:0;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}

@keyframes slide-left {
from{left:25%;opacity:0;} 
to{left:0%;opacity:1;}
}

.loaderLogoAnimPart3{
    -webkit-animation:slide-right .25s 0.5s cubic-bezier(.25,.46,.45,.94) both, slide-and-fade 0.2s 1s;
    animation:slide-right .25s 0.5s cubic-bezier(.25,.46,.45,.94) both, slide-and-fade 0.2s 1s;
    opacity:0;

    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */ 
}

.loaderLogoAnimPart4{
    -webkit-animation:slide-right .25s 0.65s cubic-bezier(.25,.46,.45,.94) both, slide-and-fade 0.2s 1s;
    animation:slide-right .25s 0.65s cubic-bezier(.25,.46,.45,.94) both, slide-and-fade 0.2s 1s;
    opacity:0;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}

@keyframes slide-right {
from{left:-3%;opacity:0;} 
to{left:0%;opacity:1;}
}

@keyframes slide-and-fade {
    from{left: 0%; opacity:1;}
    to{left:-20%; opacity:0;}
}

/* Animations end */

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius:10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* END SCROLLBAR */


/* FIRST SECTION */

section {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.landingSection {
    top: 0;
    background-color:var(--second-black);
    position:absolute;
}

.top-logo{
    margin-left:auto;
    margin-right:auto;
    height:350px;
    width:350px;
}

.top-logo-img{
    height:100%;
    width:100%;
}

h1 {
    margin-left:auto;
    margin-right:auto;
    font-size:40px;
    margin-left:inherit;
    margin-right:inherit;
    font-family:'Raleway', sans-serif;
    width:fit-content;
    background: #916027;
    background: -webkit-linear-gradient(to right, #916027 0%, #F9F19E 20%, #F9F19E 84%, #917827 100%);
    background: -moz-linear-gradient(to right, #916027 0%, #F9F19E 20%, #F9F19E 84%, #917827 100%);
    background: linear-gradient(to right, #916027 0%, #F9F19E 20%, #F9F19E 84%, #917827 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-top-part .special-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.landing-top-part .special-btn:focus {
    outline: none;
}


.landing-top-part .special-btn{
    width: 200px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #916027 0%, #f5ea74 20%, #f2e65b 84%, #917827 100%);
    box-shadow: 0 4px 15px 0 rgba(226, 210, 113, 0.75);
    cursor:pointer;
    height:75px;
    line-height:75px;
    border-radius: 50px;
    text-decoration:none;
    font-size:25px;
}

.landing-top-part .special-btn, .landing-top-part i {
    position:absolute;
}

.left-submission-btn{
    bottom:15%;
    left:25%;
}

.bottom-arrow-jump{
    color:white;
    bottom:5%;
}

.right-portfolio-btn{
    bottom: 15%;
    right:25%;
}

.landing-top-part {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

/* BUSINESS SECTION */

.businessSection {
    top: 100%;
    background-color: var(--second-black);
    margin-top:-53px; /*Hauteur de la navbar*/
}

.piedestal{
    height:60%;
    width:60%;
    float:right;
}

.mobile-version{
    background-image: url("../images/mobile-version.png");
    height: 27%;
    width: 10%;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right:20px;
    z-index:3;
}

.pc-version {
    background-image: url("../images/pc-version.png");
    height: 40%;
    width: 40%;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    z-index:2;
}

.tablet-version {
    background-image: url("../images/tablet-version.png");
    height: 33%;
    width: 33%;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    z-index:1;
}  

.floating-animation {
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
}

.jumping-animation {
    transform: translatey(0px);
    animation: jump 1s ease-in-out infinite;
}

@keyframes float {
    0% {
        
        transform: translatey(0px);
    }

    50% {

        transform: translatey(-20px);
    }

    100% {

        transform: translatey(0px);
    }
}

@keyframes jump {
    0% {

        transform: translatey(0px);
    }

    50% {

        transform: translatey(-15px);
    }

    100% {

        transform: translatey(0px);
    }
}